*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    background-image: linear-gradient(45deg,#d51291,rgba(119, 7, 119, 0.807), rgb(21, 19, 19)), url(./image/tech\ girl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
}
.reg-form{
    width: 30%;
    color: white;
    margin: 0 auto ;
    background-color: #d51291;
    border-radius: 10px;
    font-size: 13px;
    padding: 20px;
}
h1{
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px 5px blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    font-size: 18px;
}
button{
    text-align: center;
    background-color: white;
    color: purple;
    border-radius: 15px;
    margin-left: 30%;
    height: 27px;
    width: 40%;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}
a{
    color: blueviolet;
}
a:hover{
    color: purple;
}
input{
    background: transparent;
    width: 100%;
    color: black;
    border-radius: 5px;
    background-color: white;
}   
input, select{
    margin-bottom: 8px;
}

p{
    margin-top: -1px;
    font-size: 20px;
}
hr{
    margin-bottom: 10px;
}

/* login form begins here */

.log-background{
    background-image: linear-gradient(45deg,#d51291,rgba(119, 7, 119, 0.807), rgb(21, 19, 19)), url(./image/tech\ girl1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
}
.login-form{
    width: 30%;
    color: white;
    margin: 0 auto ;
    background-color: #d51291;
    border-radius: 10px;
    font-size: 13px;
    padding: 20px;
    margin-top: 100px;
}
.login-form input{
    height: 25px;
    margin-top: 10px;
}
.login-form button{
    width: 9rem;
    margin-top: 50px;
    height: 30px;
    line-height: 1.8;
}
.login-form p{
    margin-top: 50px;
}
.login-form a:hover{
    color: rgb(236, 170, 236);
}
.login-form h1{
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px 5px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Success page begins here */

.suc-background{
    background-image: linear-gradient(45deg,#d51291,rgba(119, 7, 119, 0.807), rgb(21, 19, 19)), url(./image/tech\ girl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
}
img{
    margin-left: 40%;
}
.success{
    width: 50%;
    color: purple;
    margin: 0 auto ;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 20px; 
    margin-top: 100px;
}
.suc-background h1{
    font-size: 50px;
    padding-bottom: 18px;
}
.last{
    text-align: center;
    font-size: 30px;
}
.bt1{
    background-color: #d51291;
    color: white;
    border-radius: 15px;
    margin-left: 35%;
    height: 27px;
    width: 25%;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
.bt2{
    background-color: purple;
    color: white;
    border-radius: 15px;
    margin-left: 35%;
    height: 27px;
    width: 25%;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
.bt1:hover{
    background-color: palevioletred;
    color: white;
}
.bt2:hover{
    background-color: blueviolet;
    color: white;
}
